{
  "extends": ["airbnb-bundle"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "comma-dangle": 0,
    "no-console": 0,
    "import/no-named-as-default": 0,
    "no-confusing-arrow": 0
  }
}
