body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background: #fbfbfb;
}

a {
  text-decoration: none !important;
  color: inherit !important;
  &:hover {
    color: inherit !important;
  }
}

.modal {
  width: 150px;
  display: inline-block;
}

#screenshot {
  width: 100%;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  padding-bottom: 56.25%;
  position: relative;
}

#feedback-item {
  border: 2px solid black;
  border-radius: 15px;
}

.searchResults {
  width: 50%;
  margin: auto;
  height: 600px;
  font-size: 50px;
}

.current-tab {
  border-bottom: 1px solid #fbfbfb;
  z-index: 2;
}

.user-projects-container {
  width: 33%;
  height: 300px;
  display: inline-block;
  margin-top: 15px;
}

.user-add-projects-button {
  width: 200px;
}

.users-projects {
  margin: auto;
  width: 400px;
  height: 300px;
}

.users-projects-image {
  border: 1px solid black;
  margin: auto;
  width: 400px;
  height: 200px;
}

@media only screen and (max-width:1350px) {
  .users-projects {
    width: 300px;
  }

  .users-projects-image {
    width: 300px;
    height: 150px;
    line-height: 150px;
  }
}

@media only screen and (max-width:950px) {
  .user-projects-container {
    width: 50%;
  }
}

@media only screen and (max-width:650px) {
  .user-projects-container {
    width: 100%;
    height: 200px;
  }

  .users-projects-image {
    margin-top: 15px;
  }

  .user-header-container {
    display: block;
    text-align: center;
    margin: auto;
    padding: 0;
  }

  .user-img-container {
    margin: auto;
  }

  .nav {
    display: block;
  }

  .nav-links {
    display: none;
  }
}

